/*Profile Cover Photo Start Here*/
.generic_layout_container.layout_user_profile_cover
{
    border: none !important;
    padding: 0 !important;
    clear: both;
    margin-bottom: 15px;
    padding: 0 !important;
}
.prelative
{
    position: relative;
}
.tarfee_profile_cover_wrapper
{
    margin: 0;
}
.tarfee_profile_cover_photo_wrapper
{
    position: relative;
    clear: both;
    padding: 0px;
}
.tarfee_profile_cover_photo
{
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}
.tarfee_profile_cover_photo img
{
    width: 100%;
    min-height: 100%;
    border: none;
    position: relative;
}
.tarfee_profile_cover_photo_empty
{
    border: none;
    height: 100%;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from( rgba(226, 226, 226, .5)), to( rgba(0, 0, 0, .5)));
    */* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(  rgba(226, 226, 226, .5), rgba(0, 0, 0, .5));
    */* Chrome 10+, Saf5.1+ */
    background-image: -moz-linear-gradient( rgba(226, 226, 226, .5), rgba(0, 0, 0, .5));
    */* FF3.6 */
    background-image: -ms-linear-gradient( rgba(226, 226, 226, .5), rgba(0, 0, 0, .5));
    */* IE10 */
    background-image: -o-linear-gradient( rgba(226, 226, 226, .5), rgba(0, 0, 0, .5));
    */* Opera 11.10+ */
    background-image: linear-gradient( rgba(226, 226, 226, .5), rgba(0, 0, 0, .5));
}
.tarfee_profile_cover_photo_wrapper .draggable
{
    opacity: 0.5;
    cursor: move;
}
.tarfee_profile_cover_gradient
{
    background-image: -webkit-gradient(linear, left top, left bottom, from( rgba(22, 24, 27, 0)), to( rgba(22, 24, 27, 0.8)));
    */* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( rgba(22, 24, 27, 0), rgba(22, 24, 27, 0.8));
    */* Chrome 10+, Saf5.1+ */
    background-image: -moz-linear-gradient( rgba(22, 24, 27, 0), rgba(22, 24, 27, 0.8));
    */* FF3.6 */
    background-image: -ms-linear-gradient( rgba(22, 24, 27, 0), rgba(22, 24, 27, 0.8));
    */* IE10 */
    background-image: -o-linear-gradient( rgba(22, 24, 27, 0), rgba(22, 24, 27, 0.8));
    */* Opera 11.10+ */
    background-image: linear-gradient( rgba(22, 24, 27, 0), rgba(22, 24, 27, 0.8));
    bottom: 0;
    height: 100px;
    position: absolute;
    width: 100%;
}
/*Profile Cover Photo Endst Here*/
/*Cover Information Starts Here*/
.tarfee_profile_cover_head_section
{

}
.tarfee_profile_main_photo_wrapper
{
    width: 165px;
    float: left;
    margin-left: 20px;
    position: relative;
    height: 2px;
    overflow: visible;
}
[dir="rtl"] .tarfee_profile_main_photo_wrapper
{
    float: right;
    margin-right: 20px;
    margin-left: 0;
}
.tarfee_profile_main_photo
{
    overflow: hidden;
    position: absolute;
    border-radius: 6px;
}
.tarfee_profile_main_photo .item_photo
{
    min-height: 100px;
    max-height: 200px;
    overflow: hidden;
    width: 160px;
}
.tarfee_profile_main_photo .show_photo_box
{
    height: 160px;
}
.tarfee_profile_main_photo .item_photo table
{
    height: 100%;
    width: 100%;
}
.tarfee_profile_main_photo .item_photo table td
{
    text-align: center;
}
[dir="rtl"] .tarfee_profile_main_photo .item_photo table td
{
    text-align: center;
}
.tarfee_profile_main_photo .item_photo table td img
{
    border: 0 none !important;
    border-radius: 0 !important;
    max-height: 200px;
    max-width: 160px;
    min-height: 100px;
    padding: 0;
    width: 100%;
}
.tarfee_profile_cover_head_section_inner
{
    margin-left: 195px;
}
[dir="rtl"] .tarfee_profile_cover_head_section_inner
{
    margin-left: 0px;
    margin-right: 195px;
}
.tarfee_profile_coverinfo_status
{
    overflow: hidden;
}
/*.tarfee_profile_coverinfo_status a{
 color:#fff;
 text-shadow:0 0 3px rgba(0, 0, 0, 0.3);
 }*/
.tarfee_profile_coverinfo_status h2
{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: normal;
}
.tarfee_profile_coverinfo_stats
{
    font-size: 11px;
    margin-top: 3px;
}
.tarfee_profile_coverinfo_buttons
{
    float: right;
}
[dir="rtl"] .tarfee_profile_coverinfo_buttons
{
    float: left;
}
.tarfee_profile_coverinfo_buttons > div
{
    float: left;
    margin-left: 5px;
    height: 30px;
}
[dir="rtl"] .tarfee_profile_coverinfo_buttons > div
{
    float: right;
    margin-left: 0px;
    margin-right: 5px;
}
.tarfee_profile_coverinfo_buttons > div .layout_tarfee_like_button, .tarfee_profile_coverinfo_buttons > div .layout_sitelike_commoncover_like_button
{
    margin: 0;
}
.tarfee_profile_coverinfo_buttons .tarfee_follower_count
{
    display: none;
}
/*Cover Information Ends Here*/
/*If main tabs comes in top information widget then below css work*/
.tarfee_profile_cover_has_tabs
{
    min-height: 60px;
    background-color: #fff;
}
.tarfee_profile_cover_has_tabs .tarfee_profile_main_photo
{
    bottom: -40px;
}
.tarfee_profile_cover_has_tabs .tarfee_profile_main_photo_wrapper .tarfee_profile_cover_options .edit-button
{
    top: -90px;
}
.tarfee_profile_cover_has_tabs .tarfee_profile_cover_options .save-button
{
    bottom: 24px;
    right: 20px;
}
[dir="rtl"] .tarfee_profile_cover_has_tabs .tarfee_profile_cover_options .save-button
{
    left: 20px;
    right: auto;
}
.tarfee_profile_cover_has_tabs .tarfee_profile_cover_head_section_inner
{
    margin-left: 195px;
    position: relative;
}
[dir="rtl"] .tarfee_profile_cover_has_tabs .tarfee_profile_cover_head_section_inner
{
    margin-left: 0;
    margin-right: 195px;
}
.tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_status, .tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_buttons
{
    bottom: 75px;
    position: absolute;
}
.tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_status
{
    overflow: inherit;
    max-width: 55%;
}
.tarfee_profile_cover_info
{
    max-width: 250px;
}
.tarfee_profile_cover_has_tabs .tarfee_profile_cover_tarfee_button
{
    bottom: 25px;
    position: absolute;
}
.tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_status h2
{
    background: none;
    color: #FFFFFF;
    font-size: 24px;
    margin: 0;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_stats, .tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_stats a
{
    color: #FFFFFF;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}
.tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_buttons
{
    right: 0;
    z-index: 10;
}
[dir="rtl"] .tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_buttons
{
    left: 0;
    right: auto;
}
.tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_status .siteevent_listings_stats i, .tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_status .siteevent_listings_stats img
{
    display: none;
}
/*Icons*/
.tarfee_profile_cover_icon_photo_add
{
}
.tarfee_profile_cover_icon_photo_edit
{
}
.tarfee_profile_cover_icon_photo_upload
{
}
.tarfee_profile_cover_icon_photo_view
{
}
.tarfee_profile_cover_icon_move
{
}
.tarfee_profile_cover_icon_photo_delete
{
}
.tarfee_profile_cover_icon_camera
{

}
.tarfee_profile_cover_icon_photo_color
{
}
/*Cover Photo Add Edit Options Starts Here*/
.tarfee_profile_cover_btn
{
    cursor: pointer;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff), to( #f1f1f2));
    */* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #ffffff, #f1f1f2); /* Chrome 10+,
     * Saf5.1+ */
    background-image: -moz-linear-gradient( #ffffff, #f1f1f2); /* FF3.6 */
    background-image: -ms-linear-gradient( #ffffff, #f1f1f2); /* IE10 */
    background-image: -o-linear-gradient( #ffffff, #f1f1f2); /* Opera 11.10+ */
    background-image: linear-gradient( #ffffff, #f1f1f2);
    border-radius: 3px;
    border: 1px solid #616162;
    display: block;
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .6);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .6);
}
.tarfee_profile_cover_btn:hover
{
    cursor: pointer;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff), to( #dfdfdf));
    */* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #ffffff, #dfdfdf); /* Chrome 10+,
     * Saf5.1+ */
    background-image: -moz-linear-gradient( #ffffff, #dfdfdf); /* FF3.6 */
    background-image: -ms-linear-gradient( #ffffff, #dfdfdf); /* IE10 */
    background-image: -o-linear-gradient( #ffffff, #dfdfdf); /* Opera 11.10+ */
    background-image: linear-gradient( #ffffff, #dfdfdf);
}
.tarfee_profile_cover_btn i
{
    font-style: normal;
    background-repeat: no-repeat;
    background-position: 5px center;
    display: block;
    font-size: 11px;
    font-weight: bold;
    color: #333;
    padding: 5px 10px 5px 25px;
}
[dir="rtl"] .tarfee_profile_cover_btn i
{
    padding: 5px 20px 5px 10px;
    background-position: 99% center;
}
.tarfee_profile_cover_options
{
    display: none;
}
.tarfee_profile_cover_options .edit-button
{
    position: absolute;
    top: 10px;
    right: 70px;
}
[dir="rtl"] .tarfee_profile_cover_options .edit-button
{
    left: 70px;
    right: auto;
}
.tarfee_profile_main_photo_wrapper .tarfee_profile_cover_options .edit-button
{
    right: 12px;
    top: 5px;
}
[dir="rtl"] .tarfee_profile_main_photo_wrapper .tarfee_profile_cover_options .edit-button
{
    left: 12px;
    right: auto;
}
.tarfee_profile_cover_photo_wrapper:hover .tarfee_profile_cover_options, .tarfee_profile_main_photo_wrapper:hover .tarfee_profile_cover_options
{
    display: block;
}
.tarfee_profile_cover_options > ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 3px;
}
.tarfee_profile_options_pulldown, .tarfee_profile_cover_has_tabs .tab_pulldown_contents_wrapper
{
    background-color: #fff;
    border: 1px solid #999;
    float: left;
    position: absolute;
    z-index: 99;
}
[dir="rtl"] .tarfee_profile_options_pulldown, [dir="rtl"] .tarfee_profile_cover_has_tabs .tab_pulldown_contents_wrapper
{
    float: right;
}
.tarfee_profile_settings_btn .tarfee_profile_options_pulldown, .tarfee_profile_option_btn .tarfee_profile_options_pulldown
{
    top: 30px;
}
ul.tarfee_profile_options_pulldown
{
    display: none;
}
ul.tarfee_profile_options_pulldown li + li, .tarfee_profile_cover_has_tabs .tab_pulldown_contents_wrapper ul li + li
{
    border-top: 1px solid #999;
}
.tarfee_profile_options_pulldown li a, .tarfee_profile_cover_has_tabs .tab_pulldown_contents_wrapper ul li
{
    font-style: normal;
    font-weight: normal;
    background-repeat: no-repeat;
    background-position: 5px center;
    display: block;
    font-size: 11px;
    color: #333;
    font-weight: normal;
    line-height: normal;
    padding: 5px 20px 5px 25px;
    text-decoration: none;
    white-space: nowrap;
}
[dir="rtl"] .tarfee_profile_options_pulldown li a, [dir="rtl"] .tarfee_profile_cover_has_tabs .tab_pulldown_contents_wrapper ul li
{
    padding: 5px 25px 5px 20px;
    background-position: 98% center;
}
ul.tarfee_profile_options_pulldown li a:hover, .tarfee_profile_cover_has_tabs .tab_pulldown_contents_wrapper ul li:hover, .tarfee_profile_cover_has_tabs .tab_pulldown_contents_wrapper ul li.active
{
    background-color: #CCC;
}
.tarfee_profile_settings_btn ul li a, .tarfee_profile_option_btn ul li a, .tarfee_profile_cover_has_tabs .tab_pulldown_contents_wrapper ul li
{
    border-radius: 0 !important;
    background-image: none !important;
    padding: 5px 20px 5px 10px;
}
[dir="rtl"] .tarfee_profile_settings_btn ul li a, [dir="rtl"] .tarfee_profile_option_btn ul li a, [dir="rtl"] .tarfee_profile_cover_has_tabs .tab_pulldown_contents_wrapper ul li
{
    padding: 5px 10px 5px 20px;
}
.tarfee_profile_cover_options li:hover ul.tarfee_profile_options_pulldown
{
    display: block;
}
.tarfee_profile_cover_options .save-button
{
    right: 10px;
    bottom: 10px;
    position: absolute;
}
[dir="rtl"] .tarfee_profile_cover_options .save-button
{
    left: 10px;
    right: auto;
}
.tarfee_profile_cover_options .save-button span
{
    display: inline-block;
    margin-left: 5px;
}
[dir="rtl"] .tarfee_profile_cover_options .save-button span
{
    margin-left: 0;
    margin-right: 5px;
}
.tarfee_profile_cover_options .save-button span i
{
    padding: 5px;
}
.tarfee_profile_option_btn .icon_cog, .tarfee_profile_option_btn .icon_down
{
    background-size: 12px auto;
    display: inline-block;
    height: 12px;
    margin: 0 2px;
    position: relative;
    top: 2px;
    width: 12px;
}
.tarfee_profile_option_btn .icon_cog
{

}
.tarfee_profile_option_btn .icon_down
{

}
.tarfee_cover_rsvp_button select
{
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.tarfee_profile_options_pulldown.siteuser_cover_settings li a
{
    padding: 5px 7px;
}
/*Cover Photo Add Edit Options Ends Here*/
/*Cover Position Tip Start Here*/
.cover_photo_wap .cover_tip_wrap
{
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 50%;
    margin-top: -13px;
    width: 100%;
}
.cover_photo_wap .cover_tip
{
    background-color: rgba(0, 0, 0, .4);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    display: inline;
    font-size: 13px;
    font-weight: bold;
    padding: 4px 9px 6px 29px;
}
[dir="rtl"] .cover_photo_wap .cover_tip
{
    background-position: 223px center;
    padding: 4px 29px 6px 9px;
}
/*Cover Position Tip End Here*/
/*Cover Photo Upload Photo Popup Starts Here*/
.tarfee_upload_photo_popup
{
    margin: 15px 0 0 15px;
    width: 400px;
}
[dir="rtl"] .tarfee_upload_photo_popup
{
    margin: 15px 15px 0 0;
}
.tarfee_upload_photo_popup .form-label
{
    margin: 10px 0 5px;
    font-weight: bold;
}
.tarfee_upload_photo_popup .form-element input[type="file"]
{
    margin: 5px 0;
}
.tarfee_upload_photo_popup button
{
    clear: both;
    margin-top: 15px;
}

/*Cover Photo Upload Photo Popup Ends Here*/
/*Cover Photo Choose Photo Popup Starts Here*/
.tarfee_choose_photos_content ul.thumbs
{
    margin: 10px 0;
}
.tarfee_choose_photos_content ul.thumbs li
{
    clear: none;
    display: inline-block;
    float: none;
    height: auto;
    margin-bottom: 10px;
    vertical-align: top;
}
/*Cover Photo Choose Photo Popup Endss Here*/
/*Profile Info Widget*/
.tarfee_profile_info h4
{
    border: none;
    margin-bottom: 2px;
    padding: 0px;
}
.tarfee_profile_info h4 span
{
    position: static;
    background: none;
    padding: 0;
}
.tarfee_profile_info ul li span
{
    font-size: 11px;
}
.tarfee_coverphoto_profile_label
{
    clear: both;
    color: #FFFFFF;
    font-size: 17px;
    letter-spacing: 3px;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}
[dir="rtl"] .tarfee_coverphoto_profile_label
{
    text-align: center;
}
/*Below css apply when there is no tab container*/
.tarfee_notabs .tarfee_profile_cover_has_tabs.tarfee_profile_cover_head_section
{
    border-width: 0;
    min-height: 0;
    padding: 0 10px;
}
.tarfee_notabs .tarfee_profile_cover_has_tabs.tarfee_profile_cover_head_section .tarfee_profile_main_photo_wrapper
{
    height: 0;
}
.tarfee_notabs .tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_status, .tarfee_notabs .tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_buttons
{
    bottom: 20px;
}
.tarfee_button i.plus_icon
{

}
.tarfee_button i.minus_icon
{

}

/*Profile Cover Members Ends Here*/
.tarfee_profile_cover_has_tabs .layout_tarfee_social_button
{
    margin: 0;
}
.tarfee_profile_cover_has_tabs .fb_edge_widget_with_comment
{
    height: 50px;
}
.tarfee_profile_cover_tarfee_button .fb_iframe_widget span
{
    overflow: inherit !important;
}
.tarfee_profile_cover_tarfee_button .fb_iframe_widget
{
    z-index: 12;
}

.generic_layout_container.layout_tarfee_social_button ul li
{
    float: left;
    margin-right: 8px;
}
.generic_layout_container.layout_tarfee_social_button ul li a
{
    line-height: 30px;
    text-align: center;
}
.generic_layout_container.layout_tarfee_social_button ul li span
{
    cursor: pointer;
    width: 120px;
    background-color: #fff;
    display: block;
    border-radius: 4px;
    box-shadow: 0 0 10px;
}
.layout_user_profile_cover .tabs_alt.tabs_parent
{
    clear: both;
    background: none !important;
    box-shadow: none !Important;
    border: none !important;
    border-radius: 0;
    padding: 0;
    margin: 0px 0 0 192px;
    position: relative;
    overflow: inherit;
    z-index: 9;
}

/*----------------------------------------PLUGIN RESPONSIVENESS WORK START
 * HERE----------------------------------------------*/
@media only screen and (max-width: 900px)
{
    /*---------USER COVER PHOTO CSS END HERE----------------*/
    .tarfee_profile_cover_has_tabs .tarfee_profile_cover_head_section_inner
    {
        margin-left: 0;
        position: static;
        margin-top: 20px;
    }
    .tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_status, .tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_buttons
    {
        position: inherit;
    }
    .tarfee_profile_cover_has_tabs .tarfee_profile_cover_tarfee_button
    {
        position: inherit;
        margin-top: 5px;
    }
    .tarfee_profile_cover_head_section_inner
    {
        margin-left: 0;
        clear: both;
    }
    [dir="rtl"] .tarfee_profile_cover_head_section_inner
    {
        margin-right: 0x;
    }
    .tarfee_profile_cover_photo img
    {
        top: 0 !important;
    }
    .tarfee_profile_main_photo_wrapper
    {
        margin-left: 0;
        margin-bottom: 50px;
    }
    .tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_status h2
    {
        font-size: 20px;
        text-shadow: none;
        color: #333 !important;
    }
    .tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_stats, .tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_stats a, .tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_statistics, .tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_statistics div, .tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_status, .tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_status a, .tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_status div
    {
        color: #333 !important;
        text-shadow: none;
    }
    html .tarfee_profile_coverinfo_status *, html .tarfee_profile_coverinfo_status a:link
    {
        color: #333 !important;
    }
}
@media only screen and (max-width: 600px)
{
    /*USER COVER PHOTO CSS END HERE*/
    /*Profile Cover Photo Start Here*/
    /*Cover Information Starts Here*/
    .tarfee_profile_main_photo_wrapper
    {
        margin-left: 0;
        margin-bottom: 60px;
    }
    [dir="rtl"] .tarfee_profile_main_photo_wrapper
    {
        margin-right: 0;
    }
    .tarfee_profile_coverinfo_buttons > div
    {
        margin-bottom: 5px;
    }
    html .tarfee_profile_coverinfo_buttons .tarfee_profile_option_btn
    {
        float: right;
    }
    .tarfee_profile_cover_head_section_inner
    {
        margin-left: 0;
    }
    [dir="rtl"] .tarfee_profile_cover_head_section_inner
    {
        margin-right: 0x;
    }
    .tarfee_profile_coverinfo_status
    {
        float: left;
    }
    /*If main tabs comes in top information widget then below css work*/
    .tarfee_profile_cover_has_tabs .tarfee_profile_main_photo_wrapper
    {
        margin-bottom: 0px;
    }
    .tarfee_profile_cover_has_tabs .tarfee_profile_main_photo
    {
        bottom: 0px !important;
    }
    .tarfee_profile_cover_has_tabs .tarfee_profile_cover_head_section_inner
    {
        margin-left: 0;
        margin-top: 20px;
        position: static;
        overflow: inherit;
    }
    [dir="rtl"] .tarfee_profile_cover_has_tabs .tarfee_profile_cover_head_section_inner
    {
        margin-right: 0;
    }
    .tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_status, .tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_buttons
    {
        position: inherit;
        float: left;
        margin-bottom: 5px;
    }
    .tarfee_profile_cover_has_tabs .tarfee_profile_coverinfo_status
    {
        max-width: 100%;
        width: 100%;
    }
    /*Cover Photo Add Edit Options Starts Here*/
    .tarfee_profile_cover_has_tabs .tarfee_profile_cover_options .save-button
    {
        bottom: 0px;
        right: 10px;
    }
    [dir="rtl"] .tarfee_profile_cover_has_tabs .tarfee_profile_cover_options .save-button
    {
        left: 10px;
        right: auto;
    }
    .tarfee_profile_cover_options .save-button span
    {
        display: block;
        margin-left: 0px;
        margin-bottom: 5px;
    }
    [dir="rtl"] .tarfee_profile_cover_options .save-button span
    {
        margin-right: 0px;
    }

    /*Cover Position Tip Start Here*/
    /*.cover_photo_wap .cover_tip_wrap {
     z-index:1;
     }*/
    /*Facebook Like Button*/
    .tarfee_profile_cover_has_tabs .tarfee_profile_cover_tarfee_button
    {
        position: inherit;
        margin-top: 5px;
        float: left;
    }
    .tarfee_profile_coverinfo_status
    {
        overflow: inherit;
    }
    .tarfee_profile_coverinfo_buttons
    {
        float: left;
        width: 100%;
    }
    .generic_layout_container.layout_tarfee_social_button ul li
    {
        margin-bottom: 10px;
    }
    /*USER COVER PHOTO CSS END HERE*/

    /*Cover Photo Upload Photo Popup Starts Here*/
    .tarfee_upload_photo_popup
    {
        margin-right: 15px;
        width: 91%;
    }
    /*Cover Photo Upload Photo Popup end Here*/
}

/*=================================================Tab
 * Container=============================================*/

/*Profile Tabs*/
.
.tarfee_profile_cover_head_section div.tabs_alt
{
    background: none !important;
    box-shadow: none !Important;
    border: none !important;
    border-radius: 0;
    padding: 0;
    margin: -56px 0 0 210px;
    position: absolute;
    overflow: inherit;
    z-index: 9;
}
[dir="rtl"] .
.tarfee_profile_cover_head_section div.tabs_alt
{
    margin: -58px 210px 0 0;
}
.tarfee_profile_cover_head_section div.tabs_alt > ul
{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    display: block;
}
.tarfee_profile_cover_head_section div.tabs_alt > ul > li
{
    border-width: 0 0px;
    float: left;
    margin: -3px 5px 0px 2px;
    padding: 0;
    width: auto;
}
[dir="rtl"] .tarfee_profile_cover_head_section div.tabs_alt > ul > li
{
    float: right;
}
.tarfee_profile_cover_head_section div.tabs_alt > ul > li + li
{
    border-left-width: 0px;
}
[dir="rtl"].tarfee_profile_cover_head_section div.tabs_alt > ul > li + li
{
    border-left-width: 1px;
    border-right-width: 0px;
}
.tarfee_profile_cover_head_sectiondiv.tabs_alt > ul > li.active
{
}
.tarfee_profile_cover_head_sectiondiv.tabs_alt > ul > li a, .tarfee_profile_cover_head_sectiondiv.tabs_alt > ul > li a:hover, .tarfee_profile_cover_head_sectiondiv.tabs_alt > ul > li.active > a, .tarfee_profile_cover_head_sectiondiv.tabs_alt > ul > li.tab_open > a
{
    border: none !important;
    border-radius: 0;
    float: left;
    font-size: 13px;
    margin: 0;
    padding: 12px;
    top: 0;
}
[dir="rtl"].tarfee_profile_cover_head_section div.tabs_alt > ul > li a, [dir="rtl"].tarfee_profile_cover_head_section div.tabs_alt > ul > li a:hover, [dir="rtl"].tarfee_profile_cover_head_section div.tabs_alt > ul > li.active > a, [dir="rtl"].tarfee_profile_cover_head_section div.tabs_alt > ul > li.tab_open > a
{
    float: right;
}
.tarfee_profile_cover_head_sectiondiv.tabs_alt > ul > li a:hover
{
    background-color: rgba(204, 204, 204, 0.1);
}
.tarfee_profile_cover_head_sectiondiv.tabs_alt > ul > li.active > a, .tarfee_profile_cover_head_sectiondiv.tabs_alt > ul > li.active > a:hover, .tarfee_profile_cover_head_sectiondiv.tabs_alt > ul > li.tab_open > a
{
    background-color: rgba(204, 204, 204, 0.1);
    top: 0;
    position: static;
}
.tarfee_profile_cover_head_sectiondiv.tabs_alt > ul > li.active > a, .tarfee_profile_cover_head_sectiondiv.tabs_alt > ul > li.active > a:hover
{
    background-color: transparent;
}
.tab_pulldown_contents_wrapper
{
    margin-top: 40px;
}
.
.tarfee_profile_cover_head_section.tarfee_profile_cover_has_tabs
{
    clear: both;
}
.
.tarfee_profile_cover_head_section.tarfee_profile_cover_has_tabs .tabs_alt + div
{
    clear: both;
    margin: 0;
}
/*If there is no profile*/
.tarfee_profile_cover_no_profile_photo div.tabs_alt
{
    margin: -56px 0 0 0px;
    z-index: 11;
}
/*More Pulldown*/
.tab_pulldown_contents_wrapper
{
    border-radius: 0;
    padding: 0;
}
.tab_pulldown_contents, .tab_pulldown_contents ul
{
    background: none;
    padding: 0;
    margin: 0;
}
.tabs_alt.tab_identify_account
{
    background-color: #A0B74F;
    float: right;
    min-height: 60px;
    margin-top: -2px;
    padding-left: 20px;
    padding-right: 20px;
    word-wrap: break-word;
    max-width: 220px;
}
.tabs_alt.tab_identify_account > div
{
    color: #FFF;
    padding-top: 10px;
}
.tabs_alt.tab_identify_account div.user_icon
{
    float: left;
    font-size: 30px;
    line-height: 40px;
}
.tabs_alt.tab_identify_account div.user_type_verify
{
    margin-left: 40px;
}
.tabs_alt.tabs_parent ul li a div span
{
    font-size: 20px;
    font-weight: bold;
}
@media only screen and (max-width: 900px)
{
    .tarfee_profile_cover_head_section div.tabs_alt
    {
        margin: 10px 0 !important;
        position: relative !important
    }
    .layout_middle
    {
        width: 100%;
    }
    .tabs_alt.tabs_parent
    {
        min-height: 65px;
    }

}
@media only screen and (max-width: 600px)
{
    .layout_middle
    {
        width: 100%;
    }
    .tabs_alt.tabs_parent
    {
        min-height: 60px;
    }
}
@media only screen and (max-width: 1000px)
{
    .tabs_alt.tab_identify_account
    {
        clear: both;
        float: left;
        margin-top: 10px;
    }
}
.tarfee_profile_cover_photo_wrapper
{
	height: 355px;
	min-height:200px;
    .cover-reposition
    {
	    z-index: 10;
	    position: absolute;
	    span a 
	    {
		    display: block;
		    border-top: 1px solid #fff;
		    background-color: rgba(0, 0, 0, 0.6);
		    color: #fff;
		    padding: 5px 10px;
		}
	}
}
.tarfee_profile_main_photo #edit-photo-btn
{
	position: absolute;
  	z-index: 10;
  	width: 100%;
  	text-align: center;
  	bottom:0;
  	a
  	{
  		display: block;
	  	background-color: rgba(0, 0, 0, 0.6);
	  	color: #fff;
	  	padding: 5px 10px;
  	}
}

.layout_page_user_profile_index
{
	.layout_right
	{
		width: 330px;
	}
}

.layout_user_profile_preferred_clubs_search
{
	#group_ids-wrapper
	{
		margin-top: 10px;
	}
	.user_tag
	{
		a
		{
			font-weight: bold;
			img
			{
				margin-right: 10px;
			}
		}
		a + a
		{
			  margin-left: 10px;
			  color: red;
			  font-size: 14pt;
		}
	}
	#preferred-clubs-save-btn
	{
		margin-top: 10px;
	}
}
