.ynsc_table 
{
	border-collapse: separate;
}

.ynsc_table td 
{
	padding: 5px;
}

.ynsc_timestamp 
{
	color: theme_font_color_light;
	font-size: 0.8em;
}
.account_description
{
	padding-top: 5px;
	padding-bottom: 5px;
}
/* nhittb added  */
.layout_social_connect_login_or_signup .global_form_box > div > div .form-wrapper 
{
	margin-top: 0;
}
.layout_social_connect_login_or_signup .global_form_box > div > div .form-wrapper .form-wrapper 
{
	padding: 0;
}
.layout_social_connect_login_or_signup #remember-wrapper label 
{
	display: block;
	float: left;
}
.layout_social_connect_login_or_signup #remember-wrapper input 
{
	display: block;
	float: left;
	margin-left: 3px;
	margin-top: 4px;
}
.layout_social_connect_login_or_signup #remember-wrapper 
{
	margin-top: 19px;
}

#global_page_social-connect-index-account-linking{
	#global_content{
		min-height: 400px;
	}
}

/* nhittb end added  */
.socialconnect_account,
.socialconnect_services
{
	margin-bottom: 10px;
	padding: 10px;
	margin-right: 10px;
	width: 24%;
	float: left;
	height: 60px;
	border:1px solid $theme_border_dark_color;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;

	& > img{
		float: left;
		margin-right: 5px;
		width: 32px;
		height: 32px;
	}

	strong{
	color: $theme_link_color;
	}
}
.socialconnect_account span,
.socialconnect_services span
{
	float: left;
	position: relative;
	width: 70%;
	overflow: hidden;
	text-overflow: ellipsis;
	color: $theme_link_color;

	div{
		a{
			font-size: 14px;
		}
	}
}
.socialconnect_account span  a,
.socialconnect_services span  a
{
	color: $theme_link_color;
	font-weight: bold;
	text-transform: lowercase;
	font-size: 16px;
}
.ynsc_logo
{
	float: right;
}
